{% extends "base.html" %}
{% load static %}
<title>Home page of ecommerce</title>

{% block content %}

{% block base_head %}
<link href='{% static "css/main.css" %}' rel="stylesheet">
{% endblock %}
<h1 style="font-size: 50px;color: green;text-align: center;">{{ title }}</h1>
    

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <p>{{ content }}</p>
      <img src="{% static 'img/house.webp' %}"
    </div>
  </div>
</div>
{% if primium_content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Priemeum content</h3>
      <p>{{ primium_content }}</p>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

